@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 25px;
  line-height: 1.6;
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
  color: #fff;
}

.smallnavbar {
  transition: 0.4s;
}

.workLink,
.telLink,
.emailLink {
  color: #fff;
}

.img-thumbnail {
  height: 190px;
}

.banner-image {
  background-image: linear-gradient(45deg, black, lightseagreen, black);
}

footer {
  display: none;
}

.img-thumbnail {
  width: 80%;
}

html {
  scroll-behavior: smooth;
}

.main-title {
  text-shadow: 1px 1px 5px black;
}

.sub-title {
  text-shadow: 0 0 5px black;
}

.scrollTopBtn {
  text-align: center;
}

.navbar-collapse {
  overflow-x: hidden;
}

.fa-brands {
  color: white;
  font-size: 35px;
}

.card {
  margin: 20px 0;
}

.social {
  text-align: center;
}

.container {
  width: 100%;
}
@media (max-width: 576px) {
  .banner-btn {
    transform: translate(50%, -50%);
  }
  .headings {
    transform: translate(-50%, -50%);
  }
  .scheme .code-intro .code-sample {
    font-size: 15px;
  }
  footer {
    font-size: 20px;
  }
  footer .container {
    flex-direction: column;
  }
  .main-inner {
    margin-left: 0;
    font-size: 0.8em;
  }
  .sidebar,
  .tabletNavbar {
    display: none;
  }
  .smallnavbar {
    margin-bottom: 0;
  }
  .main-pic .banner-image .banner-image {
    margin-left: 0;
  }
  .main-inner .container .getintouch {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .headings {
    transform: translate(-50%, -50%);
  }
  footer {
    font-size: 20px;
    justify-content: space-between;
  }
  .scheme {
    margin-right: 160px;
  }
  .smallnavbar {
    display: none;
  }
  .main-inner {
    font-size: 0.8em;
  }
}
@media (min-width: 768px) {
  .banner-btn {
    transform: translate(50%, -50%);
  }
  .headings {
    transform: translate(-50%, -50%);
  }
  footer .container {
    justify-content: space-between;
    font-size: 20px;
  }
  .smallnavbar {
    display: none;
  }
  .scheme {
    margin-right: 160px;
  }
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main-pic .container .main-inner {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .headings {
    transform: translate(-25%, -50%);
  }
  .banner-btn {
    transform: translate(125%, -50%);
  }
  footer .container {
    width: 950px;
    justify-content: space-around;
    padding-left: 30px;
  }
  .tabletNavbar {
    display: none;
  }
  .banner-image,
  .main-inner {
    margin-left: 250px;
  }
}
@media (min-width: 1200px) {
  footer .container {
    justify-content: space-evenly;
    width: 1170px;
  }
}
.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 3px solid lightseagreen;
}
.sidebar .logo {
  width: auto;
  padding-top: 20px;
  border-bottom-style: inset;
  border-bottom-color: lightseagreen;
}
.sidebar .logo .nav-dark .initials .eklogo {
  font-size: 1.8em;
  color: #fff;
}
.sidebar .social {
  padding-top: 30px;
}
.sidebar .social a {
  color: #000;
}
.sidebar .maininfo {
  font-size: 2rem;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom-color: lightseagreen;
  border-bottom-style: inset;
}
.sidebar .maininfo a {
  color: #fff;
}
.sidebar .maininfo .mainlist :hover {
  text-decoration: underline;
  background-color: transparent;
}

.initials,
.maininfo {
  width: auto;
}

.main-pic .banner-image .bannerpic {
  height: 100vh;
  width: 100%;
  filter: grayscale(100%);
}
.main-pic .banner-image .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.headings {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
}

.banner-btn {
  position: absolute;
  bottom: 8px;
  right: 50%;
  z-index: 1;
  color: #fff;
}
.banner-btn a {
  color: #fff;
}

.scrollUpSec a {
  color: #fff;
}

.tabNavbar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.tabNavbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.tabNavbar a:hover {
  color: #f1f1f1;
}

.tabNavbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  z-index: 1;
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  border: none;
  top: 15px;
  right: 15px;
}

.openbtn:hover {
  background-color: #444;
}

#tabMain {
  transition: margin-left 0.5s;
}

footer {
  background-color: lightgrey;
}
footer .container {
  padding: 15px;
  display: flex;
}
footer .container a {
  color: #000;
}

.collapsed {
  background-color: lightseagreen;
}

.btn-info {
  background-color: lightseagreen;
  text-align: center;
  align-items: center;
}
.btn-info:hover, .btn-info:focus {
  background-color: #188781;
  border-color: #188781;
}
.btn-info:active {
  background-color: lightseagreen;
  border-color: lightseagreen;
}
.btn-info:active:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

.formnames {
  margin: 0 -15px;
}

.btn-primary,
.codebtn {
  background-color: lightseagreen;
  border-color: lightseagreen;
  margin-top: 15px;
}
.btn-primary :active,
.codebtn :active {
  background-color: #808080;
}

.main-inner {
  background-color: #000;
  padding: 15px;
  border-top-color: lightseagreen;
  border-top-style: inset;
  border-top-width: 3px;
}
.main-inner .container .col-sm-7 {
  margin-top: 10px;
  background-color: lightseagreen;
  padding: 15px;
}
.main-inner .container #form .mt-3 .formnames {
  text-align: left;
}
.main-inner .container .getintouch {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
}
.main-inner .container .getintouch h1 {
  margin-top: 10px;
}

.input-control.success input {
  border-color: seagreen;
}

.input-control.errorMsg input {
  border-color: red;
}

.input-control .errorMsg {
  color: red;
  font-size: small;
}

.submitbtn:hover {
  color: #000;
  background-color: #808080;
  border-color: #808080;
}

.submitbtn {
  background-color: #1a1a1a;
}

.main-inner .row .netmatters :hover {
  text-decoration-line: none;
}

.main-inner .scheme .row {
  margin: 0;
}

.main-inner .mt-3 .row {
  text-align: center;
}
.main-inner .mt-3 .row .proj-one .card-one {
  filter: none;
}
.main-inner .mt-3 .row .proj-two .card-two {
  filter: none;
}
.main-inner .mt-3 .row .col-sm-4 {
  padding-bottom: 15px;
}
.main-inner .mt-3 .row .img-thumbnail {
  filter: grayscale(100%);
}
.main-inner .mt-3 .row .placeholder-title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -200%);
  color: #fff;
}

.card-title {
  font-size: 20px;
  color: lightseagreen;
}

.card-text {
  font-size: 18px;
}

.sample-intro {
  text-align: center;
}

h1.code-title {
  text-shadow: 1px 1px 5px lightseagreen;
}

/*# sourceMappingURL=style.css.map */
