// Accordion button and background styling.

// .collapsed {}

#accordion {
    .card-header {


        #collapseOne {
            background-color: red;
        }

        .btn {
            color: $white;


            &:hover {
                color: lightseagreen;
            }

            &:focus,
            &:active {
                color: $black;
            }

        }
    }

    .header1 {
        background-color: darken(lightseagreen, 20);
    }

    .header2 {
        background-color: darken(lightseagreen, 15);
    }

    .header3 {
        background-color: darken(lightseagreen, 10);
    }
}

.btn-info {
    background-color: lightseagreen;
    text-align: center;
    align-items: center;

    &:hover,
    &:focus {
        background-color: darken(lightseagreen, 10);
        border-color: darken(lightseagreen, 10);
    }

    &:active {
        @include btncolor;
    }

    &:active:hover {
        @include btncolor;
    }

}