// Banner box
.main-pic {
    //height: 100vh;

    // Banner image container
    .banner-image {

        // Banner image
        .bannerpic {
            min-height: 100vh;
            //width: 100%;
            // filter: grayscale(100%);
            background: radial-gradient(#333, #000);


            // display:flex;
            // justify-content: center;
            // align-items: center;
            // overflow: hidden;
        }

        // Banner title
        .banner-title {
            @include labelpositions;
            z-index: 1;
        }
    }
}

// Heading for main picture
.headings {
    @include labelpositions;
    font-size: em(30px);
    font-weight: $font-weight--medium;
}

.banner-btn {
    position: absolute;
    bottom: 8px;
    right: 50%;
    z-index: 1;
    color: $white;
    // transform: translate(50%, -50%);
    // scroll-behavior: smooth;
    a {
        color: $white;
        
    }
}

// Button to help user scroll to the top of the page
.scrollUpSec {
    // .scrollTopBtn {
    //     text-align: center;
    // }

    a {
        // Styling the appearance and behaviour of button
        color: $white;       
    }
}