// Tablet

// Hidden navigation
.tabNavbar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -250px;
    //background-color:#111;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(255, 255, 255, .2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    justify-content: center;
    align-content: center;

    // Navigation links

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $logo-color;
        display: block;
        transition: 0.3s;
    }

    // .active {
    //     left: 0;
    // }
}

.tabNavbar a:hover {
    color: #f1f1f1;
}

// Button to close the navigation panel when it is showing

.tabNavbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

// The button to open the hidden navigation panel
.openbtn {
    position: fixed;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: $logo-color;
    padding: 10px 15px;
    border: none;
    top: 15px;
    right: 15px;

    .tabletOpen {
        font-size: 40px;
    }
}

//  Color of button when clicked to open navigation panel
.openbtn:hover {
    background-color: #444;
}

#tabMain {
    transition: margin-left .5s;
}

// New tablet menu bar

.newBurgerBtn {
    padding: 1rem;
    background-color: #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .hamburger-menu {

        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        padding: 1rem;

        .ham-bar {
            width: 70%;
            height: 4px;
            background-color: $white;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform .6s, opacity .8s, top .6s;
        }

        .bar-top {
            top: 25%;
        }

        .bar-bottom {
            top: 75%;
        }

        &.active {
            .bar-top {
                transform: translate(-50%, -50%) rotate(-315deg);
                top: 50%;
            }

            .bar-mid {
                opacity: 0;
            }

            .bar-bottom {
                transform: translate(-50%, -50%) rotate(-225deg);
                top: 50%;
            }

        }
    }
}