.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gainsboro;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid black;

    .maininfo {
        a {
            color: black;
        }

        .mainlist {

            :hover {
                text-decoration: underline;

            }
        }
    }
}



.eklogo {
    font-size: 45px;
    color: black;
}

.logo {
    width: auto;
    padding-top: 20px;
}

.initials,
.maininfo {
    width: auto;
}

.maininfo {
    font-size: 2rem;
}
