.formnames {
    margin: 0 -15px;
}

.btn-primary {
    @include btncolor;
    margin-top: 15px;
    margin-bottom: 15px;

    :active {
        background-color: $primary-btn-color;
    }
}

.main-inner {
    background:radial-gradient(#333, $black);
    padding: 15px;
    border-top-color: lightseagreen;
    //filter: drop-shadow(0px 15px 50px $black) hue-rotate(225deg);
    border-top-style: inset;
    border-top-width: 3px;

    .container {
        .col-sm-7 {
            margin-top: 25px;
            background-color: darken($logo-color, 20%);
            padding: 15px;
            //width: 100%;
        }

        #form {
            .mt-3 {
                .formnames {
                    text-align: left;
                }
            }
        }

        .getintouch {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: space-around;
            flex-wrap: wrap;
            margin-top: 10px;
            //width: 100%;

            h1 {
                margin-top: 10px;
            }
        }
    }
}

// Contact form validation 

// input border turns green when filled correctly
.input-control.success input {
    border-color: $success;
}

// input border turns red when blank or invalid data is entered
.input-control.errorMsg input {
    border-color: $error;
}

// Error message shows in red
.input-control .errorMsg {
    color: $error;
    font-size: small;
    background-color: tan;
    //display: none;
}

.submitbtn:hover,
.submitbtn:active,
.submitbtn:active:hover {
    color: $black;
    background-color: $primary-btn-color;
    border-color: $primary-btn-color;
}

.submitbtn {
    background-color: lighten($black, 10);
}

.projBtn:hover, .projBtn:active, .projBtn:active:hover,
.codeBtn:hover, .codeBtn:active, .codeBtn:active:hover,
.projBtn:focus, .codeBtn:focus {
    background-color: darken($logo-color, 10);
    border-color: darken($logo-color, 10);
}