// Main container
.main-inner {
    // Container holding placeholder rows
    .mt-3 {
        // Row for placeholders
        .myProjects {
            text-align: center;
            display: flex;
            justify-content: center;
            //flex-wrap: wrap;
            .proj-one {
                .card-one {
                    filter: none;
                }                
            }

            .proj-two {
                .card-two {
                    filter:none;
                }
            }
            // Column holding images
            .col-sm-4 {
                padding-bottom: 15px;
            }
            // Placeholder images
            .img-thumbnail {
                filter: grayscale(100%);
            }
            // Placeholder label
            .placeholder-title {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-40%, -200%);
                color: $white;
            }
        }
    }
}

.card-title {
    font-size: 20px;
    color: lightseagreen
}
.card-text {
    font-size: 18px;
}