* {
    box-sizing: border-box;
    margin: 0;

}

body {
    font-size: $base__font-size;
    line-height: calc($base__line / $base__font-size);
    font-family: $font-family--primary;
    min-height: 100vh;
    color: $white;
    //background-color: $black;
    background: radial-gradient(#333, #000);
    overflow: hidden;
}

// sliding nav
.smallnavbar {
    transition: 0.4s;
}

#contact {
    margin-top: 20px;
    border-top: 2px inset lightseagreen;
}

// Change link colors from blue to black
.workLink,
.telLink,
.emailLink {
    color: $white;
}

.telLink:hover,
.telLink:focus,
.emailLink:hover,
.emailLink:focus {
    color: lightseagreen;
}

.img-thumbnail {
    height: auto;
    width: auto;
}

// Trying something

// .banner-image {
//     background-image: linear-gradient(45deg, black, lightseagreen, black);
// }

footer {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.scrollTopBtn {
    text-align: center;
}

.navbar-collapse {
    overflow-x: hidden;
}

.fa-brands {
    color: white;
    font-size: 35px;
}

.card {
    // margin: 20px 0;
    box-shadow: 2px 2px 5px lightseagreen;
    height: auto;
    padding: 15px 15px 0;
    margin: 15px;
}

.social {
    text-align: center;
}

.treehouseURL {
    font-size: medium;
}