* {
    box-sizing: border-box;

}

body {
    font-size: $base__font-size;
    line-height: calc($base__line / $base__font-size);
    font-family: $font-family--primary;
    margin: 0;
    color: $white;
}





// sliding nav
.smallnavbar {
    transition: 0.4s;
}






// Change link colors from blue to black
.workLink,
.telLink,
.emailLink {
    color: $white;
}

.img-thumbnail {
    height: 190px;
}

// Trying something

.banner-image {
    background-image: linear-gradient(45deg, black, lightseagreen, black);
}

footer {
    display: none;
}

.img-thumbnail {
     width: 80%;
}


html {
    scroll-behavior: smooth;
}



.main-title {
    text-shadow: 1px 1px 5px black;
}

.sub-title {
    text-shadow: 0 0 5px black;
}

// .scrollUpSec {
//     position: absolute;
//     bottom: 8px;
//     right: 50%;
//     z-index: 1;
//     transform: translate(-50%, -50%);
// }

.scrollTopBtn {
    text-align: center;
}

.navbar-collapse {
    overflow-x: hidden;
}

.fa-brands {
    color:white;
    font-size: 35px;
}

.card {
    margin: 20px 0;
}

.social {
    text-align: center;
}

.treehouseURL {
    font-size: medium;
}