* {
    box-sizing: border-box;

}

body {
    font-size: $base__font-size;
    line-height: calc($base__line / $base__font-size);
    font-family: $font-family--primary;
    margin: 0;
}

.banner-btn {
    position: absolute;
    bottom: 8px;
    right: 50%;
    z-index: 1;
    color: white;
    transform: translate(50%, -50%);
}