.container {
    @media(min-width:576px) {}

    @media(min-width:768px) {}

    @media(min-width:992px) {}

    @media(min-width:1200px) {}

    width:100%;
}

@media (max-width: 576px) {


    .main-inner {
        margin-left: 0;
        font-size: em(20px);
    }

    .sidebar,
    .tabletNavbar {
        display: none;
    }

    .smallnavbar {
        margin-bottom: 0;
    }

    .main-pic {
        .banner-image {
            .banner-image {
                margin-left: 0;
            }
        }
    }

    .main-inner {
        .container {
            .getintouch {
                margin-bottom: 20px;
            }
        }
    }

}


@media (min-width: 576px) {
    .scheme {
        margin-right: 160px;
    }

    .smallnavbar {
        display: none;
    }

    .main-inner {
        // margin-left: 160px;
        font-size: em(20px);
    }
}

@media (min-width:768px) {



    
    .smallnavbar {
        display: none;
    }

    // .banner-image {
    //     margin-left: 160px;
    // }

    // Scheme page
    // .main-inner {
    //     margin-left: 160px;
    // }
    .scheme {
        margin-right: 160px;
    }
}

@media (max-width:992px) {
    .sidebar {
        display: none;
    }

    .main-pic {
        .container {
            .main-inner {
                margin-left:0;
            }
        }
    }
}

@media (min-width:992px) {
    .tabletNavbar {
        display: none;
    }

    .banner-image, .main-inner {
        margin-left: 160px;
    }
}