$font-family--secondary         : 'Playfair Display', serif;
$font-url--google               : 'https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500&display=swap';
$font-family--primary           : 'Bricolage Grotesque', sans-serif;

$font-weight--regular           : 400;
$font-weight--medium            : 500;

// Text
$base__font-size                : 25px;
$base__line                     : 24px;

// Colors
$primary-warm-color             : #f5d3b3;
$white                          : #fff;
$black                          : #000;
$primary-btn-color              : #808080;
$form-color                     : #ffe4b5;


@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

// Calculate em values
@function em($target, $context: $base__font-size) {
    @return calc($target / $context) * 1em;
}

